header {
    background-color: #FC766A;
}

body {
    background-color: #F1AC88;
    margin: 0;
}

.link:visited {
    color: rgb(87, 21, 123);
}

.link:hover {
    font-size: large;
    color: honeydew;
    text-decoration: underline;
}

hr {
    margin: 0;
}


.all-images {
    display: inline-block;
    padding: .5em;
    margin: auto;
    text-align: center;
}

.image {
    object-fit: cover;
}

#all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 1em;
}

.review,
.item,
.menu,
.data,
.stuff,
#review-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu {
    text-align: center;
    list-style-type: none;
}

.item {
    text-align: center;
    list-style-type: none;
    margin-right: 4%;
}


#review-title {
    margin-top: 2em;
    margin-left: 1em;
}

.review {
    background-color: honeydew;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    padding: 1em;
}


.table {
    margin: auto;
    margin-top: 2em;
}

.data {
    text-align: center;
    background-color: #783937;
    color: white;
}

.stuff {
    text-align: center;
    background-color: #FC766A;
    color: white;
}

@media (min-width: 586px) {
    #title {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-left: 1em;
        margin-right: 1em;
    }

    .link,
    #title,
    #all-links {
        display: inline-block;
    }

    .link {
        margin-left: 1em;
        text-decoration: none;
        color: black;
    }

    #description {
        font-size: 1.1em;
    }

    .menu {
        font-size: 3em;
        text-decoration: underline;
    }

    .item {
        font-size: 2em;
    }

    .image {
        width: 22em;
        height: 15em;
    }

    .table {
        width: 35em;
    }
}

@media (max-width: 585px) {
    #title {
        display: block;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: auto;
        padding-top: .5em;
        text-align: center;
        font-size: .9em;
    }

    hr {
        margin: 0;
    }

    #all-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: .5em;
        padding-bottom: .5em;
    }

    .link {

        margin-left: 1em;
        margin-right: 1em;
        text-decoration: none;
        color: black;
        font-size: .7em;
    }

    .link:hover {
        font-size: small;
    }

    #description {
        font-size: .8em;
    }

    .menu {
        font-size: 1.5em;
        text-decoration: underline;
    }

    .item {
        font-size: 1em;
    }

    .image {
        width: 18em;
        height: 12em;
    }

    .table {
        width: 20em;
    }
}